body {
    
  display: flex;
  flex-direction: column;
  
  min-height: 100vh;  
  
    
}
/* The header section of the CSS Style                        */
.header{
    
    background-color: #1f2937;
    font-size: 18px;
    font-weight: 700;
    padding: 8px;
    display: flex;
    flex-direction: column;
    
    

}
img{
    width: 300px;
    height: 200px;
}
.logo{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 24px;
    
}
.nav_links{
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 400;
}
a{
    margin: 8px;
}
.title{
    display: flex;
    flex-grow: 0;
    justify-content: space-around;
}

.title-left{
    display: flex;
    flex-direction: column;
}
.main-text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.subtext{
    color: #e5e7eb;
    font-size: 18px;
}
.signUpButton{
    display: flex;
    background-color: #3382f6;
    color: #F9FAF8;
    border-radius: 12px;
    width: fit-content;
    border-width: 2px;
    padding: 4px;
    padding-left: 16px;
    padding-right: 16px;


}

/* The content section of the CSS                                             */

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content p{
    font-size:36px ;
    font-weight: 900;
    color :#1f2937;
}

.infoCards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 32px;

    
}


.infoCard{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    padding: 8px;
    align-items: center;
}

.infoCard img{
    border-radius: 16px;
    border-color: #3382f6 ;
    border-width: 8px;
   max-width: 100% ;
    
}





/* The Footer section of the Css                     */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}