body {
    
  display: flex;
  flex-direction: column;
  
  min-height: 100vh;  
  background-image: url("imgages/poolBackground.jpg");
  
  margin: 0;
}
/* The header section of the CSS Style                        */
.header{
    
    background-color: #1f2937;
    font-size: 18px;
    font-weight: 700;
    padding: 8px;
    display: flex;
    flex-direction: column;
    padding-left:5%;
    padding-right: 5%;
    

}
img{
    width: 300px;
    height: 200px;
}
.logo{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 24px;
    
    
}
.nav_links{
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 400;
}
a{
    margin: 8px;
}
.title{
    display: flex;
    flex-grow: 0;
    justify-content: space-between;
    padding-bottom: 32px;
    
}

.title-left{
    display: flex;
    flex-direction: column;
}
.main-text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.subtext{
    color: #e5e7eb;
    font-size: 18px;
}
.signUpButton{
    display: flex;
    background-color: #3382f6;
    color: #F9FAF8;
    border-radius: 12px;
    width: fit-content;
    border-width: 2px;
    padding: 4px;
    padding-left: 16px;
    padding-right: 16px;
    margin:4px;


}

/* The content section of the CSS                                             */

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    text-shadow: #1f2937;
}

.content p{
    font-size:36px ;
    font-weight: 900;
    background: linear-gradient(180deg, rgba(120, 167, 247, 0.3) 0%, #1f2937 40%,#1f2937 60%, rgba(120, 167, 247, 0.3) 100%);
    /*background-color: #1f2937;*/
    border-radius: 8px;
    padding: 4px;
    padding-left: 0;
    padding-right: 0;

    
}

.infoCards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 32px;
    padding: 8px;
    background-color: #1f2937;
    border-radius: 4px;
    
}


.infoCard{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    padding: 8px;
    align-items: center;
}

.infoCard img{
    border-radius: 16px;
    border-color: #3382f6 ;
    border-width: 8px;
   max-width: 100% ;
    
}
.infoCard div{
    text-align: center;
    color: #ffffff;
    background-color: #1f2937;
    text-shadow: #1f2937;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

/*The Quote section of the Css               */

.quote{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 50px;
    align-items: center;
    gap: 32px;
}

.startQuote{
    display: flex;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
    max-width: 80%;
    flex-wrap: wrap;
   
}

.endQuote {
    display: flex;
    padding-inline-start: 25%;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: 700;

}


/*   the Call to actioon sign up section   */

.callToAction{
    display: flex;
    margin: 32px;
    margin-left: 10%;
    margin-right: 10%;
    padding:28px;
    border-radius: 12px;
    background-color: #1f2937;
    color: #e5e7eb;
    justify-content: space-around;


}
.ctaText{
    display: flex;
    flex-direction: column;
}
.callToAction p{
    font-size: 24px;
    font-weight: 700;
    margin:0;
}

.callToAction button {
    border-color: #e5e7eb;
    align-items: center;
    font-size: 18px;
    font-weight: 600;

}

/* The Footer section of the Css                     */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding:18px;
    margin-top: auto;
}